<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Font</title>
    <base src="/makroDigital/" href="/makroDigital/">
    <meta name="gateway" content="{$api_gateway}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form" lay-filter="fontEdit">
                    <div class="layui-row">
                        <div class="layui-form-item">
                            <label class="layui-form-label">Font Name</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" maxlength="200" placeholder="Font Name" lay-verify="required" lay-reqText="The font name cannot be empty" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Font File</label>
                            <div class="layui-input-block layui-form-pane fonts">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-form-label">Regular
                                            <button type="button" class="layui-btn layui-btn-xs layui-btn-danger layui-hide" style="float: right;"><i class="layui-icon layui-icon-refresh-1"></i></button>
                                        </div>
                                        <input type="text" name="path" maxlength="500" placeholder="Regular Font" lay-verify="required" lay-reqText="Please upload font file" autocomplete="off" class="layui-input" readonly>
                                        <input type="hidden" name="pathMb" autocomplete="off" readonly>
                                    </div>
                                    <div class="layui-row">
                                        <button type="button" class="layui-btn layui-btn-fluid" id="uploadRegularFont"><i class="layui-icon layui-icon-upload"></i> Upload</button>
                                    </div>
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-row layui-form-item layui-form-text">
                                        <div class="layui-form-label">Bold
                                            <button type="button" class="layui-btn layui-btn-xs layui-btn-danger layui-hide" style="float: right;"><i class="layui-icon layui-icon-refresh-1"></i></button>
                                        </div>
                                        <input type="text" name="boldPath" maxlength="500" placeholder="Bold Font" autocomplete="off" class="layui-input" readonly>
                                        <input type="hidden" name="boldPathMb" autocomplete="off" readonly>
                                    </div>
                                    <div class="layui-row">
                                        <button type="button" class="layui-btn layui-btn-fluid" id="uploadBoldFont"><i class="layui-icon layui-icon-upload"></i> Upload</button>
                                    </div>
                                </div>
                                <div class="layui-input-inline">
                                    <div class="layui-row layui-form-item layui-form-text">
                                        <div class="layui-form-label">Italics
                                            <button type="button" class="layui-btn layui-btn-xs layui-btn-danger layui-hide" style="float: right;"><i class="layui-icon layui-icon-refresh-1"></i></button>
                                        </div>
                                        <input type="text" name="italicsPath" maxlength="500" placeholder="Italics Font" autocomplete="off" class="layui-input" readonly>
                                        <input type="hidden" name="italicsPathMb" autocomplete="off" readonly>
                                    </div>
                                    <div class="layui-row">
                                        <button type="button" class="layui-btn layui-btn-fluid" id="uploadItalicsFont"><i class="layui-icon layui-icon-upload"></i> Upload</button>
                                    </div>
                                </div>
                                <div class="layui-input-inline" style="margin-right: 0;">
                                    <div class="layui-row layui-form-item layui-form-text">
                                        <div class="layui-form-label">Bold Italics
                                            <button type="button" class="layui-btn layui-btn-xs layui-btn-danger layui-hide" style="float: right;"><i class="layui-icon layui-icon-refresh-1"></i></button>
                                        </div>
                                        <input type="text" name="boldItalicsPath" maxlength="500" placeholder="Bold Italics Font" autocomplete="off" class="layui-input" readonly>
                                        <input type="hidden" name="boldItalicsPathMb" autocomplete="off" readonly>
                                    </div>
                                    <div class="layui-row">
                                        <button type="button" class="layui-btn layui-btn-fluid" id="uploadBoldItalicsFont"><i class="layui-icon layui-icon-upload"></i> Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Remarks</label>
                            <div class="layui-input-block">
                                <textarea type="textarea" name="remark" placeholder="Maximum 200 characters" style="height:120px;max-width:100%;line-height:20px;padding-top:8px;padding-bottom:8px;" maxlength="200" autocomplete="off" class="layui-input"></textarea>
                            </div>
                        </div>
                        <!-- <div class="layui-form-item">
                            <label class="layui-form-label">Hotkey</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keyCombination" maxlength="200" placeholder="Hold Ctrl / Shift + other keys" autocomplete="off" class="layui-input" readonly>
                            </div>
                        </div> -->
                        <div class="layui-form-item layui-hide">
                            <button class="layui-btn" lay-submit lay-filter="LAY-font-edit-submit" id="LAY-font-edit-submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../layuiadmin/layui/layui.js"></script>
    <script src="../js/base.js?t={$js_timestamp}"></script>
    <script src="../js/marketing/font/edit.js?t={$js_timestamp}"></script>
    
</body>
</html>