<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add User</title>
    <base src="/makroDigital/" href="/makroDigital/">
    <meta name="gateway" content="{$api_gateway}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-form" lay-filter="userAdd">
            <div class="layui-row layui-col-space15">
    			<div class="layui-col-sm12">
    				<div class="layui-card">
    					<div class="layui-collapse">
    						<div class="layui-colla-item">
    		    				<h2 class="layui-colla-title">Info</h2>
    		    				<div class="layui-colla-content layui-show">
    		    				    <div class="layui-row">
                                        <div class="layui-col-sm6">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">* Username</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="username" lay-verify="required|username" placeholder="Username" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            
                                            <div class="layui-form-item layui-hide">
                                                <label class="layui-form-label">* Password</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="password" lay-verify="required|pass" lay-verType="tips" placeholder="8 to 16 digits, no spaces" autocomplete="off" class="layui-input" value="12345678" readonly>
                                                </div>
                                            </div>
                                            
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">* Nickname</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="nickname" lay-verify="required" placeholder="Nickname" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">Phone</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="phone" lay-verify="required" placeholder="Phone" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            
                                        </div>    
                                    
                                        <div class="layui-col-sm6">
                                            <div class="layui-form-item inputDepartment">
                                                <label class="layui-form-label">* Dept</label>
                                                <div class="layui-input-inline">
                                                    <select name="deptId" id="deptId" lay-verify="required|department">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                        					
                        					<div class="layui-form-item">
                                                <label class="layui-form-label">* Email</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="required" placeholder="Email" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">Lang</label>
                                                <div class="layui-input-inline">
                                                    <select name="lang" lay-verify="required">
                                                        <option value="">Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>     
    		    				</div>
    		    			</div>
    		    			<div class="layui-colla-item">
    		    				<h2 class="layui-colla-title">Role</h2>
    		    				<div class="layui-colla-content layui-show">
    		    				    <div class="layui-form-item">
                                        <div class="layui-input-block" id="roleIds"></div>
                                    </div>
    		    				</div>    
    		    			</div>
    		    		</div>
    		    	</div>
    		    </div>
    		</div>
            <!--按钮，隐藏-->
            <div class="layui-form-item layui-hide">
                <button class="layui-btn" lay-submit lay-filter="LAY-user-add-submit" id="LAY-user-add-submit">Save</button>
            </div>
        </div>
    </div>
    
    <script src="../layuiadmin/layui/layui.js"></script>  
    <script src="../js/jquery/jquery-3.6.0.min.js"></script>  
	<script src="../js/base.js?t={$js_timestamp}"></script>
	<script src="../js/user/add.js?t={$js_timestamp}"></script>
	
</body>
</html>