<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Product Picture</title>
    <base src="/makroDigital/" href="/makroDigital/">
    <meta name="gateway" content="{$api_gateway}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15{if !(isset($is_all) && $is_all)} layui-hide{/if}">
            <div class="layui-col-sm12">
                <div class="layui-card">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">Search</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-form" lay-filter="pictureSearch" id="pictureSearch">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">Item Code</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="itemCode" placeholder="Item Code" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label"></label>
                                            <div class="layui-input-inline">
                                                <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-productPicture-front-search">
                                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                </button>
                                                <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-productPicture-front-reset">
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <script type="text/html" id="productPictureToolbar">
                            <div class="layui-btn-container">
                                {if isset($is_all) && $is_all}
                                <button type="button" class="layui-btn" lay-event="batchUpload" permission="product:picture:upload">Batch Upload</button>
                                {else /}
                                <button type="button" class="layui-btn" id="upload" permission="product:picture:upload">Upload</button>
                                {/if}
                                <button type="button" class="layui-btn layui-btn-normal" lay-event="default" permission="product:picture:setDefault">Default</button>
                                <button type="button" class="layui-btn layui-btn-danger" lay-event="delete" permission="product:picture:delete">Delete</button>
                            </div>
                        </script>
                        <div class="layui-row">
                            <!-- table 开始 -->
                            <table class="layui-table layui-table-big" id="content-productPicture-list" lay-filter="content-productPicture-list"></table>
                            <!-- table 结束 -->
                            <script type="text/html" id="imgTpl">
                                <img src="{{ d.thumbnailPath }}" class="layui-table-thumb" lay-event="showPicture">
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../layuiadmin/layui/layui.js"></script>
    <script src="../js/base.js?t={$js_timestamp}"></script>
    <script src="../js/product/picture/index.js?t={$js_timestamp}"></script>
    
</body>
</html>