<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Text Thai</title>
    <base src="/makroDigital/" href="/makroDigital/">
    <meta name="gateway" content="{$api_gateway}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>
    
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15" permission="marketing:textthai:search">
            <div class="layui-col-sm12">
                <div class="layui-card">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">Search</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-form" lay-filter="textThaiSearch" id="textThaiSearch">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">Status</label>
                                            <div class="layui-input-inline">
                                                <select name="isvalid">
                                                    <option value="">Select</option>
                                                    <option value="1">1 Valid</option>
                                                    <option value="0">0 Invalid</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">Import Date</label>
                                            <div class="layui-input-inline">
                                                <input type="text" class="layui-input" name="createDate" id="createDate" placeholder="yyyy-MM-dd - yyyy-MM-dd">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">MM Code</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="mmCode" maxlength="50" placeholder="MM Code" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">User</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="username" maxlength="50" placeholder="Username" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label"></label>
                                            <div class="layui-input-inline">
                                                <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-marketingTextthai-front-search">
                                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                </button>
                                                <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-marketingTextthai-front-reset">
                                                    Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15" permission="marketing:textthai:list">
            <div class="layui-col-sm12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <script type="text/html" id="marketingTextthaiToolbar">
                            <div class="layui-btn-container">

                            </div>
                        </script>
                        <div class="layui-row">
                            <table id="content-marketingTextthai-list" lay-filter="content-marketingTextthai-list"></table>
                            <script type="text/html" id="content-marketingTextthai-list-action">
                                <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail" permission="marketing:textthai:detail">View Data</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../layuiadmin/layui/layui.js"></script>
    <script src="../js/base.js?t={$js_timestamp}"></script>
    <script src="../js/marketing/textthai/index.js?t={$js_timestamp}"></script>

</body>
</html>